[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-summernote = "*"
django-compressor = "*"
django-3-jet = "*"
pillow = "*"
django-redis = "*"
django-filter = "*"
gunicorn = "*"
python-decouple = "*"
argon2-cffi = "*"
django-widget-tweaks = "*"
django-import-export = "*"
whitenoise = {extras = ["brotli"], version = "*"}
qrcode = {extras = ["pil"], version = "*"}
django = "==3.2.12"
readtime = "*"
django-embed-video = "*"
pyzstd = "*"
mysqlclient = "*"
psycopg2-binary = "*"
django-imagekit = "*"
django-haystack = {extras = ["elasticsearch"], version = "*"}
whoosh = "*"
django-tagulous = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest-django = "*"
pytest = "*"
coverage = {extras = ["toml"], version = "*"}
psycopg2 = "*"

[requires]
python_version = "3.8"
