[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-summernote = "*"
django-compressor = "*"
django-taggit = "*"
django-3-jet = "*"
pillow = "*"
django-redis = "*"
django-filter = "*"
gunicorn = "*"
python-decouple = "*"
argon2-cffi = "*"
django-widget-tweaks = "*"
django-import-export = "*"
whitenoise = {extras = ["brotli"], version = "*"}
qrcode = {extras = ["pil"], version = "*"}
django = "==3.2.10"
django-phonenumber-field = {extras = ["phonenumbers"], version = "*"}
readtime = "*"
django-embed-video = "*"
pyzstd = "*"
mysqlclient = "*"
psycopg2-binary = "*"
psycopg2 = "*"

[dev-packages]
flake8 = "*"
autopep8 = "*"
pytest-django = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
