<article class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-3 card-hover">
        <figure class="mb-0">
            <img src="{{ object.get_image_url }}" class="card-img-top" alt="{{ object.name|slugify }}">
        </figure>

        <div class="card-body">

            <h1 class="card-title h3">
                {{ object.name_excerpt }}
            </h1>

            <span class="fs-5 my-2 fw-semi-bold d-block text-danger">
                {{ object.book_price }}
            </span>

            <p class="card-text">
                {{ object.resume_excerpt|striptags|safe }}
            </p>

            <div class="d-grid">
                <a href="{{ object.get_absolute_url }}" class="btn btn-sm btn-primary stretched-link shadow-none text-uppercase">
                    détail du livre <i class="fe fe-arrow-right fw-bold ms-1"></i>
                </a>
            </div>
        </div>
    </div>
</article>
