{% url 'course:course_list' as course_list_url %}

<div class="py-md-5 py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-12 pe-xl-5">
                <div class="row">
                    <div class="col-md-4 col-4 px-1">
                        <div class="bg-cover rounded-2 mb-2 h-13rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-12.jpg);">
                        </div>
                        <div class="bg-cover rounded-2 mb-2 h-13rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-13.jpg);">
                        </div>
                        <div class="bg-cover rounded-2 mb-2 h-13rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-14.jpg);">
                        </div>
                    </div>

                    <div class="col-md-4 col-4 px-1">
                        <div class="bg-cover rounded-2 mb-2 h-18rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-10.jpg);">
                        </div>
                        <div class="bg-cover rounded-2 mb-2 h-18rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-11.jpg);">
                        </div>
                    </div>

                    <div class="col-md-4 col-4 px-1">
                        <div class="bg-cover rounded-2 mb-2 h-12rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-6.jpg);">
                        </div>
                        <div class="bg-cover rounded-2 mb-2 h-18rem"
                            style="background-image:url({{ STATIC_PREFIX }}img/avatar/avatar-8.jpg);">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-lg-6 col-12">
                <div class="mb-5">
                    <h1 class="display-3 mb-4 fw-bold">
                        Lorem consectetur adipisicing ! 
                    </h1>

                    <p class="lead mb-4 pe-xl-12">
                       Lorem ipsum dolor sit, amet, consectetur adipisicing elit. Magni consectetur veritatis numquam, quibusdam.
                    </p>

                    <a href="{{ course_list_url }}" class="btn btn-primary shadow-lg text-uppercase">
                        accéder à mes programmes de formations
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
