<article class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="card mb-3 card-hover">
        <figure class="mb-0">
            <img src="{{ object.get_image_url }}" class="card-img-top" alt="{{ object.name|slugify }}">
        </figure>

        <div class="card-body">
            <h1 class="card-title h3">
                {{ object.book_name_excerpt }} - {{ object.book_price }}
            </h1>

            <p class="card-text">
                {{ object.book_resume_excerpt|striptags|safe }}
            </p>

            <a href="{{ object.get_absolute_url }}" class="btn btn-sm btn-primary">
                Voir
            </a>

            <a href="{{ object.get_checkout_url }}" class="btn btn-sm btn-primary">
                Commander
            </a>
        </div>
    </div>
</article>
