{% load compress %}

{% compress js %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/libs/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/libs/popper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/libs/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/libs/tiny-slider.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/theme.min.js"></script>
{% endcompress js %}
