{% extends "index.html" %}
{% load humanize %}

{% block head_title %}
    {{ block.super }}
{% endblock head_title %}

{% block __body__ %}

    {% if request.resolver_match.url_name == 'category_list' %}
        <div class="py-5" style="background:linear-gradient(270deg, #9D4EFF 0%, #782AF4 100%);">
        </div>
        <div class="bg-white shadow-sm">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                        <div class="d-md-flex align-items-center justify-content-between bg-white py-3 pb-lg-4">
                            <div class="d-md-flex align-items-center text-lg-start text-center ">
                                <div class="me-3 mt-n8">
                                    <img
                                        src="{{ object.get_image_url }}"
                                        class="avatar-xxl rounded border p-4 bg-white "
                                        alt="{{ object.name|slugify }}">
                                </div>
                                <div class="mt-3 mt-md-0">
                                    <h1 class="mb-0 fw-bold me-3">{{ object.category_name|safe }}</h1>
                                </div>
                                <div>
                                    <span class="ms-2 fs-6">
                                        <span class="text-dark fw-medium">{{ object.post_count|intword }}</span>
                                        Article{{ object.post_count|pluralize }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="py-5">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-2 col-xl-8 offset-lg-1 col-lg-10 col-md-12 col-12">
                        <div class="text-center mb-5">
                            <h1 class="display-2 fw-bold">{{ page_title|title }}</h1>
                            <p class="lead">
                                Our features, journey, tips and us being us. Lorem ipsum dolor sit amet, accumsan in,
                                tempor dictum neque.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} 

    <div class="py-5">
        <div class="container">
            <div class="row">
                {% for post in object_list %}
                    {% if forloop.first and not request.resolver_match.url_name == 'category_list' %}
                        <article class="col-12">
                            <div class="card mb-4 shadow-lg">
                                <div class="row g-0">
                                    <a href="{{ post.get_absolute_url }}" class="col-lg-8 col-md-12 col-12 bg-cover img-left-rounded" style="background-image:url('{{ post.cover.url }}');">
                                        <figure class="mb-0">
                                            <img
                                                loading="lazy"
                                                src="{{ post.cover.url }}"
                                                class="img-fluid d-lg-none invisible"
                                                alt="{{ post.name|slugify }}">
                                        </figure>
                                    </a>
                                    <div class="col-lg-4 col-md-12 col-12">
                                        <div class="card-body">
                                            <a href="{{ post.category.get_absolute_url }}" class="fs-5 mb-3 fw-semi-bold d-block">
                                                {{ post.category.name|capfirst|safe }}
                                            </a>

                                            <h2 class="mb-2 mb-lg-4">
                                                <a href="{{ post.post_absolute_url }}" class="text-inherit">
                                                    {{ post.name|capfirst|safe }}
                                                </a>
                                            </h2>
                                            <p>{{ post.post_excerpt|truncatewords:25|striptags|safe }}</p>

                                            <div class="row align-items-center g-0 mt-lg-7 mt-4">
                                                <div class="col lh-1">
                                                    <h5 class="mb-1">{{ request.user.get_full_name }}</h5>
                                                    <p class="fs-6 mb-0">
                                                        <i class="fe fe-clock mr-1"></i>
                                                        {{ post.published|date }}
                                                    </p>
                                                </div>
                                                <div class="col-auto">
                                                    <p class="fs-6 mb-0">{{ post.readtime }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                    {% else %}
                        {% include "blog/paths/__post_card.html" with object=post %}
                    {% endif %}
                {% empty %}
                    <p class="text-center display-3">Aucun article disponible.</p>
                {% endfor %}
                {% include "paths/__paginate.html" %}
            </div>
        </div>
    </div>
{% endblock __body__ %}
