{% load widget_tweaks %}

<div class="col-lg-4 col-md-12 col-12">
    <div class="card border-0 mb-3">
        <figure class="mb-0">
            <img src="{{ object.get_image_url }}" class="card-img-top" alt="{{ object.name|slugify }}">
        </figure>

        <div class="p-4 text-center">
            <div class="d-flex justify-content-center">
                <div class="display-4 fw-bold text-danger">{{ object.price }}</div>
                <span class="h3 mb-0 fw-bold text-danger"> FR CFA</span>
            </div>

            <div class="mb-5 mt-3">
                <h1 class="h3 fw-bold">{{ object.name_excerpt|capfirst|safe }}</h1>
                <p class="mb-0">
                    <span class="text-dark fw-medium">
                        {{ object.resume_excerpt|striptags|safe }}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <div class="card border-0 mb-3 mb-lg-0">
        <div class="card-body">
          <h3 class="mb-2">Code Promo</h3>
            <form method="POST">
                <div class="input-group">
                    
                    {% render_field voucher_form.code %}

                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary" id="couponCode">
                        Appliquer
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
