{% load widget_tweaks %}

<div class="card mb-4">
    <div class="card-header">
        <h3 class="mb-0">
            Information personnelle
        </h3>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.first_name.id_for_label }}">
                    {{ form.first_name.label }}
                </label>

                {% render_field form.first_name placeholder=form.first_name.label %}
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.last_name.id_for_label }}">
                    {{ form.last_name.label }}
                </label>

                {% render_field form.last_name placeholder=form.last_name.label %}
            </div>

            <div class="mb-3 col-12 col-md-12">
                <label class="form-label" for="{{ form.email.id_for_label }}">
                    {{ form.email.label }}
                </label>

                {% render_field form.email placeholder=form.email.label %}
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.phone.id_for_label }}">
                    {{ form.phone.label }}
                </label>

                {% render_field form.phone placeholder=form.phone.label %}
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.phone_two.id_for_label }}">
                    {{ form.phone_two.label }}
                </label>

                {% render_field form.phone_two placeholder=form.phone_two.label %}
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.city.id_for_label }}">
                    {{ form.city.label }}
                </label>

                {% render_field form.city placeholder=form.city.label %}
            </div>

            <div class="mb-3 col-12 col-md-6">
                <label class="form-label" for="{{ form.country.id_for_label }}">
                    {{ form.country.label }}
                </label>

                {% render_field form.country placeholder=form.country.label %}
            </div>
        </div>
    </div>
</div>
