{% extends 'flatpages/default.html' %}

{% block __body__ %}
	<section class="py-10 bg-white">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 col-md-12 col-12 mb-12">
                	<h1 class="display-4 fw-bold mb-3">
                		Hello, je suis
                		<span class="text-primary">Valère OBEI</span>
                	</h1>

		          	<p class="mb-0 h4 text-body lh-lg">
		          		{{ flatpage.content|striptags|safe }}
		          	</p>
		        </div>
            </div>
        </div>
    </section>
{% endblock __body__ %}
