{% extends "_base.html" %}
{% load widget_tweaks %}

{% block __navbar__ %}{% endblock __navbar__ %}
{% block class_body %}bg-white{% endblock class_body %}

{% block __body__ %}

    {% url 'page:contact' as contact_url %}

    <section class="container-fluid w-auto">
        <div class="row align-items-center min-vh-100">
            <div class="col-lg-6 col-md-12 col-12">
                <div class="px-xl-20 px-md-8 px-4 py-8 py-lg-0">
                    <div
                        class="d-flex justify-content-between mb-7 align-items-center"
                    >
                        <a href="/">
                            <img
                                src="{{ STATIC_PREFIX }}img/logo.svg"
                                alt="{{ title|slugify }}"
                            />
                        </a>
                    </div>
                    <div class="text-dark">
                        <h1 class="display-4 fw-bold mb-3">Contactez-moi.</h1>
                        <p class="lead text-dark">
                            Remplissez le formulaire à droite pour me laisser un
                            message, et je vous contacterai sous peu.
                        </p>
                        <div class="mt-5">
                            <p class="fs-4">
                                <i class="mdi mdi-phone text-primary me-2"></i>
                                {{ addr_contact|safe }}
                            </p>
                            <p class="fs-4">
                                <i class="mdi mdi-email text-primary me-2"></i>
                                {{ addr_email|safe }}
                            </p>
                            <p class="fs-4 d-flex">
                                <i class="mdi mdi-map-marker text-primary me-2"></i>
                                {{ location|safe }}
                            </p>
                        </div>
                        <div class="mt-10">
                            <a href="#!" class="text-muted me-3">
                                <i class="mdi mdi-facebook fs-3"></i>
                            </a>
                            <a href="#!" class="text-muted me-3">
                                <i class="mdi mdi-linkedin fs-3"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="col-lg-6 d-lg-flex align-items-center w-lg-50 min-vh-lg-100 position-fixed-lg bg-cover bg-light top-0 right-0"
            >
                <div class="px-4 px-xl-10 py-8 py-lg-0">

                    <div id="message"></div>

                    <form id="contact-form" action="{{ contact_url }}" method="POST" class="row">

                        {% for field in form %}
                            <div class="col-12 col-md-12 mb-3">
                                <label
                                class="form-label"
                                for="{{ field.id_for_label }}"
                                >
                                    {{ field.label }}
                                </label>
                            {% render_field field placeholder=field.label %}
                            </div>
                        {% endfor %}

                        {% csrf_token %}

                        <div class="col-12">
                            <button
                            type="submit"
                            class="btn btn-primary btn-block shadow-none" value="onClick:submitForm()"
                            >
                                Envoyer
                            </button>
                        </div>
                </form>
                </div>
            </div>
        </div>
    </section>
{% endblock __body__ %}

{% block __footer__ %}
    <script type="text/javascript">
        const contactForm = document.getElementById("contact-form");

        function handleSubmit(contactForm) {
            contactForm.addEventListener("submit", e => {
                e.preventDefault();

                const formData = new FormData(contactForm);
                const URL = "{% url 'page:contact' %}";

                fetch(URL, {
                    method: "POST",
                    body: formData,
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    contactForm.reset();
                    contactForm.style.display = "none";

                    document.getElementById("message").innerHTML = `
                        <div class="alert alert-dismissible fade show" role="alert">
                            <svg xmlns="http://www.w3.org/2000/svg" style="display:none;">
                                <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                </symbol>
                            </svg>

                            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img">
                                <use xlink:href="#check-circle-fill"/>
                            </svg>

                            Hello <strong>${data.name}</strong>, merci de m'avoir contacté.\
                            <br> Je vous contacterais bientôt !
                        </div>
                    `
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            })
        }
        handleSubmit(contactForm);
    </script>
{% endblock __footer__ %}
