
{% if course_object_list %}
    {% url "course:course_list" as course_list_url %}

    <div class="py-3 py-lg-4 bg-light-gradient-top">
        <div class="container">
            <div class="row mb-4 justify-content-center">
                <div class="col-lg-8 col-md-12 col-12 text-center">
                    <span class="text-primary mb-3 d-block text-uppercase fw-semi-bold ls-xl">
                        World-class Instructors
                    </span>
                    
                    <h2 class="mb-2 display-4 fw-bold">Classes Taught by Industry Expert</h2>
                    
                    <p class="lead">
                        Geeks teachers are icons, experts, and industry rock stars excited to share their experience, wisdom, and trusted tools with you.
                    </p>
                </div>
            </div>
        
            <div class="row">
                {% for object in course_object_list %}
                    {% include "course/paths/__course_card.html" with object=object %}
                {% endfor %}

                <div class="col-md-12 mt-3 text-center">
                    <a href="{{ course_list_url }}" class="btn btn-primary">Acceder à mes formations</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}