{% if related_courses %}
    <section class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-12">
                <div class="my-5">
                    <h2>Vous pouvez également être intéressé par ces formations</h2>
                </div>
            </div>

            {% for object in related_courses %}
                {% include "course/paths/__course_card.html" with object=object %}
            {% endfor %}
        </div>
    </section>
{% endif %}
