{% url "home" as home %}
{% url 'post:post_list' as post_list_url %}
{% url 'book:book_list' as book_list_url %}
{% url 'course:course_list' as course_list_url %}

<footer class="pt-lg-10 pt-5 footer bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="mb-4">
                    <img src="{{ STATIC_PREFIX }}img/logo.svg" alt="{{ title }}">
                    
                    <div class="mt-4">
                        <p>{{ site_desc|safe }}</p>
                        <div class="fs-4 mt-4">
                            <a href="#"><i class="mdi mdi-facebook text-muted me-2"></i></a>
                            <a href="#"><i class="mdi mdi-twitter text-muted me-2"></i></a>
                            <a href="#"><i class="mdi mdi-instagram text-muted"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="offset-lg-1 col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">Découvrir</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="{{ post_list_url }}" class="nav-link">Blog</a></li>
                        <li><a href="{{ course_list_url }}" class="nav-link">Formations</a></li>
                        <li><a href="{{ book_list_url }}" class="nav-link">Mes Livres</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 col-6">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">Liens Utils</h3>
                    <ul class="list-unstyled nav nav-footer flex-column nav-x-0">
                        <li><a href="#" class="nav-link">FAQ’s</a></li>
                        <li><a href="#" class="nav-link">Qui suis-je ?</a></li>
                        <li><a href="#" class="nav-link">Contactez-moi !</a></li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-3 col-md-12">
                <div class="mb-4">
                    <h3 class="fw-bold mb-3">Me retrouver</h3>
                    <p>339 McDermott Points Hettingerhaven, NV 15283</p>
                    <p class="mb-1">Email: <a href="mailto:{{ addr_email }}">{{ addr_email }}</a></p>
                    <p>
                        Téléphone: <span class="text-dark fw-semi-bold">
                        {{ addr_contact }}</span>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="row align-items-center g-0 border-top py-2 mt-6">
            <div class="col-lg-4 col-md-5 col-12">
                <span>
                    &copy; {% now "Y" %}
                    <a class="font-weight-bold" href="{{ home }}">{{ title }}</a>
                    Tous droits réservés.
                </span>
            </div>

            <div class="col-12 col-md-7 col-lg-8 d-md-flex justify-content-end">
                <nav class="nav nav-footer">
                    <a class="nav-link ps-0" href="#">Politique de confidentialité</a>
                    <a class="nav-link" href="#">Conditions d'utilisation</a>
                </nav>
            </div>
        </div>
    </div>
</footer>
