<section id="carouselExampleFade" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleFade" class="active"></li>
        <li data-bs-target="#carouselExampleFade"></li>
    </ol>
    <div class="carousel-inner bg-primary">
        <div class="carousel-item" data-bs-interval="3000">
            <div class="container">
                <div class="row align-items-center g-0">
                    <div class="col-xl-5 col-lg-6 col-md-12">
                        <div class="py-5 py-lg-0">
                            <h1 class="display-4 text-white fw-bold">
                                Welcome to Geeks UI Learning Application
                            </h1>
                            <p class="mb-4 lead text-white">
                                Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
                            </p>
                            <a href="#" class="btn btn-light mb-sm-2">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-12 text-lg-end text-center d-none d-md-block">
                        <img src="{{ STATIC_PREFIX }}img/hero-img.png" alt="" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item active" data-bs-interval="3000">
            <div class="container">
                <div class="row align-items-center g-0">
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                        <div class="py-5 py-lg-0">
                            <h1 class="display-4 text-white fw-bold">
                                Welcome to Geeks UI Learning Application
                            </h1>
                            <p class="mb-4 lead text-white">
                                Hand-picked Instructor and expertly crafted courses, designed for the modern students and entrepreneur.
                            </p>
                            <a href="#" class="btn btn-light mb-sm-2">En savoir plus</a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-6 col-md-12 text-lg-end text-center d-none d-md-block">
                        <img src="{{ STATIC_PREFIX }}img/hero-img.png" alt="" class="img-fluid"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-white py-4 shadow-sm">
    <div class="container">
        <div class="row align-items-center g-0">
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
                        <i class="fe fe-video"></i>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">30,000 online courses</h4>
                        <p class="mb-0">Enjoy a variety of fresh topics</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-6 mb-lg-0 mb-4">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
                        <i class="fe fe-users"></i>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Expert instruction</h4>
                        <p class="mb-0">Find the right instructor for you</p>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="d-flex align-items-center">
                    <span class="icon-sahpe icon-lg bg-light-warning rounded-circle text-center text-dark-warning fs-4 ">
                        <i class="fe fe-clock"></i>
                    </span>
                    <div class="ms-3">
                        <h4 class="mb-0 fw-semi-bold">Lifetime access</h4>
                        <p class="mb-0">Learn on your schedule</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>