<section
    id="carouselExampleCaptions"
    class="carousel slide"
    data-bs-ride="carousel"
>
    <ol class="carousel-indicators">
        {% for object in featured_courses %}
            <li
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="{{ object.pk }}"
                class="{% if forloop.counter == object.pk %}active{% endif %}"
            ></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        {% for course in featured_courses %}
            <a href="{{ course.get_absolute_url }}">
                <div
                    class="carousel-item {% if forloop.counter == 1 %}active{% endif %}"
                    data-bs-interval="3000"
                >
                    <img
                        src="{{ course.formatted_cover_featured.url }}"
                        class="d-block w-100"
                        alt="{{ course.name|slugify }}"
                    />

                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="display-4 text-white fw-bold">
                            {{ course.name_excerpt }}
                        </h1>
                        <p class="mb-4 lead text-white">
                            {{ course.resume_excerpt|striptags }}
                        </p>
                    </div>
                </div>
            </a>
        {% empty %}
        {% endfor %}
    </div>
</section>
